
.food-list {
    background-color: #d6e2da;
    border-radius: 10px;
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    margin: 12px;
    padding: 20px;
    min-height: 820px;
    width: 71%;
}

@media screen and (max-width: 768px) {
    .content-table-foods,
    .content-table-foods thead,
    .content-table-foods tbody,
    .content-table-foods th,
    .content-table-foods td,
    .content-table-foods tr {
        display: block;
    }

    .content-table-foods thead tr {
        display: none;
    }

    .content-table-foods td {
        padding: 14px 18px 14px 50%;
        position: relative;
        text-align: left;
    }

    .content-table-foods td::before {
        content: attr(data-label);
        font-weight: bold;
        left: 0;
        padding-left: 18px;
        position: absolute;
        text-align: left;
        white-space: nowrap;
        width: 45%;
    }

    .content-table-foods tr {
        margin-bottom: 12px;
    }
}

@media screen and (max-width: 992px) {
    .food-list {
        margin: 12px 0 0 0;
        max-width: 100%;
        width: 100%;
    }
}
