.login-container {
    align-items: center;
    background: no-repeat center center;
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
}

/*
 * bg image obtained from https://www.pexels.com/photo/delicious-multicolored-apples-and-oranges-with-mandarins-located-in-red-bowl-5945899/
 * marked as free to use by the photographer
 */
