/* Importar la fuente Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* Estructura principal */
.data-uploader {
  display: flex;
  gap: 20px;
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif; /* Aplicar la fuente */
}

/* Fondo de la página */
.AdminPage-background {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  width: 100%;
  height: 100vh;
  background-color: #F0F8F7; /* Suave verde agua */
  font-family: 'Poppins', sans-serif; /* Aplicar la fuente */
}

.row {
  display: flex;
  width: 100%;
  font-family: 'Poppins', sans-serif; /* Aplicar la fuente */
}
.first-row {
  justify-content: space-between;
}

.tabs-container {
  display: flex;
  gap: 15px;
}

.tab {
  font-family: 'Poppins', sans-serif;
  width: 50%;
  padding: 12px;
  border: 1px solid #C1DFD9;
  background-color: #1A7862; /* Suave contraste */
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  border-radius: 5px;
  color: white;
}

.tab:hover {
  background-color: #4e9f6f; /* Hover dinámico */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.second-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.left-column, .content-container {
  flex: 1;
}

.left-column {
  flex: 0 0 200px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 10px;
  padding: 25px;
  background: #4e9f6f;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #135946;
  text-align: center;
}

.pagination-button {
  padding: 12px 20px;
  background-color: #4e9f6f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 1em;
  transition: all 0.3s ease;
  font-family: 'Poppins', sans-serif;
}

.pagination-button:hover {
  background-color: #4e9f6d;
  transform: translateY(-3px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.pagination-button.active {
  background-color: #1A7862;
}

.content-container {
  min-height: 640px;
  background: #E8F8F5;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  flex: 2;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #135946;
}

.right-container {
  flex: 1;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  background: #DFF3F0;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #135946;
}

/* Botón */
.button {
  padding: 12px 25px;
  background-color: #1A7862;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #4e9f6f;
  transform: translateY(-3px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

/* Inputs */
.input {
  width: 100%;
  padding: 12px;
  border: 1px solid #C1DFD9;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  transition: border-color 0.3s ease;
}

.input:focus {
  border-color: #1A7862;
  outline: none;
  box-shadow: 0 0 8px rgba(43, 184, 160, 0.5);
}
.file-input {
  display: none; 
}
.file-name {
  display: inline-block;
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 600;
  color: #1A7862;
  background-color: #dbf5e2;
  padding: 8px 12px;
  border: 1px solid #1A7862;
  border-radius: 5px;
  text-align: center;
}

.file-name:before {
  content: "Archivo seleccionado: ";
  font-weight: 400;
  color: #555;
}
.file-input-label {
  display: inline-block;
  padding: 12px 25px;
  background-color: #1A7862;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.3s ease;
}

.file-input-label:hover {
  background-color: #4e9f6f;
}

.file-input-label:active {
  background-color: #1A7862;
}
