.transparent-container {
    background: rgba(225, 255, 255, 0.3); /* Fondo blanco con transparencia */
    backdrop-filter: blur(10px); /* Difumina el fondo */
    border-radius: 15px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */

  }
  
.detail-background {
      background-color: #ffffff;
      opacity: 1;
      background-image: radial-gradient(#009d0b 0.9px, #ffffff 0.9px);
      background-size: 18px 18px;
 }