.transparent-container {
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* Inputs y botones */
input[type="number"] {
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  padding: 8px;
  font-size: 14px;
}

.change-grams-button {
  padding: 8px 15px;
  background-color: #064731;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.change-grams-button:hover {
  background-color: #0056b3;
}

.graphic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.custom-container-of-detail-page {
  background-color: #337265ef;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
  max-width: 1200px;
}
.custom-tab-link {
  color: #11451e !important;
  background-color: #f8f9fa;
  border-radius: 5px;
  border: 1px solid #d1e7dd;
  transition: background-color 0.3s ease;
}

.custom-tab-link:hover {
  background-color: #7dddb0;
}

.custom-image{
  margin-bottom: "200px"
}
