/* Estilos generales para la tabla */
.content-table-foods {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    width: 100%; 
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

/* Encabezado de la tabla */
.content-table-foods thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table-foods th,
.content-table-foods td {
    padding: 12px 15px;
    text-align: left;
}


.content-table-foods tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table-foods tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table-foods tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.content-table-foods tbody tr:hover {
    background-color: #92e4b8;
    cursor: pointer;
}

/* Estilos responsive para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .content-table-foods,
    .content-table-foods thead,
    .content-table-foods tbody,
    .content-table-foods th,
    .content-table-foods td,
    .content-table-foods tr {
        display: block; 
    }

    .content-table-foods thead tr {
        display: none; 
    }

    .content-table-foods td {
        padding: 12px 15px;
        position: relative;
        padding-left: 50%; 
        text-align: left;
    }

    .content-table-foods td::before {
        content: attr(data-label); 
        position: absolute;
        left: 0;
        width: 45%; 
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
        white-space: nowrap;
    }

    .content-table-foods tr {
        margin-bottom: 10px; /* Añade espacio entre filas */
    }
}
