.search-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

.food-filter {
  width: 39%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #ffffff;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  gap: 20px;
}

.custom-container {
  background-color: #cbe0d4;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  position: relative;
  font-family: "Poppins", serif;
}

.reset-button {
  background-color: rgb(29, 103, 53);
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-family: "Poppins", serif;
}

.measurement-title {
  font-family: "Poppins", serif;
  font-size: 24px;
  font-weight: 500;
  color: #01190f;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  text-align: center;
  padding-left: 12px;
  padding-right: 12px;
}

.filter-group {
  margin-bottom: 1rem;
}

.filter-group label {
  font-family: "Poppins", serif;
}

.measurement-row {
  margin-bottom: 0 !important;
}

.measurement-separator {
  display: block;
  flex-grow: 1;
  border-bottom: 1px solid #b0b0b0;
}

@media (max-width: 992px) {
  .search-container {
    flex-direction: column;
    align-items: center;
  }

  .food-filter,
  .food-list {
    width: 100%;
    max-width: 600px;
  }
}
