.food-list h2 {
    font-size: 26px;
    font-family: 'Poppins', serif;
    color: black;
    text-align: left;
    margin-bottom: 18px;
    border-bottom: 2px solid #a8d8d2; 
    padding-bottom: 8px;
    letter-spacing: 0.6px;
    transition: color 0.3s ease;
}

.food-list h2:hover {
    color: #388e60;
}

.filter-name {
    margin-bottom: 25px;
    gap: 25px;
}

.input-name input {
    font-family: 'Poppins', serif;
    flex: 1;
    min-width: 300px;
    max-width: 100%;
    padding: 14px 22px;
    border-radius: 30px;
    border: 2px solid #a8d8d2;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
    font-size: 18px;
    background-color: #f9f9f9; 
}

.input-name input::placeholder {
    color: #a9a9a9;
}

.input-name input:focus {
    border-color: #007f67;
    box-shadow: 0 4px 12px rgba(0, 127, 103, 0.2);
}

.translation-name,
.order-by-name {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Poppins', serif;
    font-size: 16px;
    color: black;
    min-width: 160px;
}

.translation-name h4,
.order-by-name h4 {
    margin-right: 12px;
}

.language-selector,
.sortOrder-selector {
    width: auto;
    padding: 10px 14px;
    border-radius: 30px;
    border: 2px solid #a8d8d2;
    background-color: #ffffff;
    color: #007f67;
    font-size: 16px;
    font-family: 'Poppins', serif;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.language-selector:hover,
.sortOrder-selector:hover {
    border-color: #007f67;
    box-shadow: 0 4px 12px rgba(0, 127, 103, 0.2);
}

/* Tabla */
.content-table-foods {
    border-collapse: collapse;
    margin: 30px 0;
    font-size: 0.95em;
    width: 100%;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', serif;
}

.content-table-foods thead tr {
    background-color: #4e9f6f;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table-foods th,
.content-table-foods td {
    font-weight: 500;
    padding: 14px 18px;
    text-align: left;
}

.content-table-foods tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table-foods tbody tr:nth-of-type(even) {
    background-color: #f8f8f8;
}

.content-table-foods tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.content-table-foods tbody tr button {
    background-color: #4e9f6f;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    font-family: 'Poppins', serif;
    padding: 10px 18px;
    text-align: center;
    transition: all 0.3s ease;
    border: none;
    font-size: 14px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); 
    margin-bottom: 10px; 
}

.content-table-foods tbody tr button:hover {
    background-color: #007f67;
    transform: translateY(-3px);
}

@media screen and (max-width: 768px) {
    .content-table-foods,
    .content-table-foods thead,
    .content-table-foods tbody,
    .content-table-foods th,
    .content-table-foods td,
    .content-table-foods tr {
        display: block;
    }

    .content-table-foods thead tr {
        display: none;
    }

    .content-table-foods td {
        padding: 14px 18px;
        position: relative;
        padding-left: 50%;
        text-align: left;
    }

    .content-table-foods td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 45%;
        padding-left: 18px;
        font-weight: bold;
        text-align: left;
        white-space: nowrap;
    }

    .content-table-foods tr {
        margin-bottom: 12px;
    }

    .filter-name {
        display: block; 
        gap: 20px;
    }

    .input-name input,
    .language-selector,
    .sortOrder-selector {
        width: 100%; 
    }
}
