.food-filter {
  width: 39%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.food-filter-static {
  padding: 20px;
}

.food-filter-accordion {
  display: none;
}

.food-filter-accordion h5 {
  margin: 0;
}

.food-filter-accordion .accordion-header > button:focus {
  box-shadow: none !important;
}


/*.reset-button {
  background-color: rgb(29, 103, 53);
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-family: "Poppins", serif;
}*/
/*.
measurement-title {
  font-family: "Poppins", serif;
  font-size: 24px;
  font-weight: 500;
  color: #01190f;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  text-align: center;
  padding-left: 12px;
  padding-right: 12px;
}
*/

/*.filter-group {
  margin-bottom: 1rem;
}*/

/*.filter-group label { //No se puede con tailwind.
  font-family: "Poppins", serif;
}*/

/*.measurement-separator {
  display: block;
  flex-grow: 1;
  border-bottom: 1px solid #b0b0b0;
}*/

@media (max-width: 992px) {

  .food-filter,
  .food-list {
    width: 100%;
    max-width: 600px;
  }

  .food-filter-accordion {
    display: block;
  }

  .food-filter-static {
    display: none;
  }
}
