@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* Título */
h4 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #135946; /* Verde oscuro */
  margin-bottom: 20px;
}

/* Fila principal */
.row {
  margin-bottom: 15px;
}

/* Botón para agregar autores */
.button {
  padding: 12px 25px;
  background-color: #1A7862;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s ease;
  margin-top: 2% ;
}

.button:hover {
  background-color: #4e9f6f;
  transform: translateY(-3px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.button:active {
  background-color: #1A7862;
}

/* Botón eliminar */
.btn-outline-danger {
  background-color: #FF6B6B;
  border: 2px solid #e62d2d; /* Rojo */
  color: white;
  border-radius: 5px;
  transition: all 0.3s ease;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}

.btn-outline-danger:hover {
  background-color: #e62d2d;
  color: white;
}

/* Selector con input */
.selector-with-input {
  display: flex;
  gap: 10px;
}

.selector-with-input input,
.selector-with-input select {
  border: 1px solid #C1DFD9;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.selector-with-input input:focus,
.selector-with-input select:focus {
  border-color: #1A7862;
  box-shadow: 0 0 8px rgba(43, 184, 160, 0.5);
}

/* ListGroup */
.list-group-item {
  font-size: 1rem;
  color: #135946;
  background-color: white; /* Verde agua claro */
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.list-group-item:last-child {
  margin-bottom: 0;
}