.card-header {
    background-color: #37a86a !important;
    color: white;
    display: flex;
    align-items: center;
    vertical-align: middle;

}

.card-title-Article {
    color: white;
}

.largeButton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #37a86a;
    background-color: transparent;
    color: #37a86a;

}

.largeButton:hover {
    background-color: rgba(10, 175, 79, 0.897);
    border: none;
}