.accordion-header {
  border-radius: 5px;
  background-color: rgb(208, 239, 208);
  color: rgb(0, 0, 0);
  font-size: 1.1rem;
}

.accordion-body {
  background-color: #f8f9fa;
  border-radius: 5px;
}

.accordion-button:focus {
  box-shadow: none;
  background-color: rgb(208, 239, 208);
  color: rgb(0, 0, 0);
  border-radius: 5px;

}
.accordion-button:not(.collapsed) {
  color: inherit !important; 
  background-color: transparent !important;  
  box-shadow: none !important; 
  
}

.mi-accordion .accordion-button:focus,
.mi-accordion .accordion-button:active,
.mi-accordion .accordion-button:hover {
  outline: none; 
  box-shadow: none; 
}