.table-container {
    display: flex;
    justify-content: center;
  }
  
  .fixed-width-table {
    width: auto;
    max-width: 600px;
  }
  
  .fixed-width-table th,
  .fixed-width-table td {
    text-align: center;
    width: 200px; 
  }
  @media (max-width: 768px) {
    .fixed-width-table th,
    .fixed-width-table td {
      width: 150px;
    }
  }
  
  @media (max-width: 576px) {
    .fixed-width-table th,
    .fixed-width-table td {
      width: 100px;
    }
  }
  