.search-and-orderBy {
    position: relative; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 20px;
    background-image: url('../images/GreenFoods.jpg');
    background-size: cover; 
    background-position: center; 
    border-radius: 10px; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); 
    overflow: hidden;
    color: white;
    gap: 15px; 
    min-height: 140px;
}

.search-and-orderBy::before {
    content: ""; 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 1; 
}

.search-and-orderBy > * {
    position: relative; 
    z-index: 2;
    flex: 1; 
}

.search-and-orderBy .search-for-name {
    flex: 2; 
}

.search-and-orderBy .select-order {
    flex: 1; 
}

.select-order {
    width: 120px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #4CAF50; 
    background-color: #f3f9f4; 
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
}

.select-order:hover, .select-order:focus {
    border-color: #2e7d32; 
    box-shadow: 0 0 10px rgba(46, 125, 50, 0.4); 
    background-color: #ffffff;
}

.input-for-name {
    width: 300px; 
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #4CAF50; 
    background-color: #f3f9f4; 
    color: #333;
    transition: all 0.3s ease;
}

.input-for-name:focus {
    border-color: #2e7d32; 
    box-shadow: 0 0 10px rgba(46, 125, 50, 0.4); 
    background-color: #ffffff;
}

.search-and-orderBy input::placeholder {
    color: rgba(33, 27, 27, 0.7);
}
