/*.search-box, .checkbox-filter {
  position: relative;
  width: 100%;
  font-family: 'Poppins', serif;
}*/

/*.selected-options-display, .filter-tag {
  background-color: #4e9f6f;
  color: white;
  padding: 12px;
  border: 2px solid #388e60;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  transition: all 0.3s ease;
}*/

/*.selected-options-display:hover, .filter-tag:hover {
  background-color: #388e60;
  border-color: #2c6b49;
}*/

/*.dropdown-options {
  display: none;
  position: absolute;
  background-color: #ffffff;
  border: 2px solid #d6f4e9;
  width: 100%;
  z-index: 10;
  max-height: 250px;
  overflow-y: auto;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  padding: 12px; 
  border-radius: 6px;
  transition: all 0.3s ease;
}*/

/*.checkbox-filter.show .dropdown-options {
  display: block;
}*/

/*.select-all-label, .dropdown-options label {
  background-color: #f7f7f7;
  padding: 12px;
  display: block;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}*/

/*.select-all-label:hover, .dropdown-options label:hover {
  background-color: #e0e0e0;
}*/

/*.dropdown-options > label > input[type=checkbox] {
  display: none;
}*/

/*.checked {
  float: right;
  color: #81c784;
  font-size: 1.2rem; 
}*/
@media (max-width: 768px) {
  /*.selected-options-display, .filter-tag {
    font-size: 1rem;
  }*/

  /*.select-all-label, .dropdown-options label {
    font-size: 1rem;
  }*/

  /*.dropdown-options {
    max-height: 200px; 
  }*/
}
