.search-container {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    width: 100%;
    gap: 20px; 
  }
  .food-list {
    flex-basis: 100%; 
    padding: 20px;
    background-color: rgb(214, 226, 218);
    border-radius: 10px;
  }
  .search-background {
    background-color: #ffffff;
    opacity: 1;
    background-image: radial-gradient(#009d0b 0.9px, #ffffff 0.9px);
    background-size: 18px 18px;
  }