.search-box, .checkbox-filter {
  position: relative;
  width: 100%;
}

.selected-options-display, .filter-tag {
  background-color: #009879;
  color: white;
  padding: 15px; 
  border: 3px solid white;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px; 
  font-size: 1.1rem; 
}

.dropdown-options {
  display: none;
  position: absolute;
  background-color: white;
  border: 3px solid #c1f3c6;
  width: 100%;
  z-index: 10;
  max-height: 250px;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px; 
}

.checkbox-filter.show .dropdown-options {
  display: block;
}

.select-all-label, .dropdown-options label {
  background-color: #f0f0f0;
  padding: 12px; 
  display: block;
  cursor: pointer;
  font-size: 1.1rem; 
  margin-bottom: 8px;
  border-radius: 3px; 
}

.select-all-label:hover, .dropdown-options label:hover {
  background-color: #e0e0e0;
}

.dropdown-options > label > input[type=checkbox] {
  display: none;
}

.checked {
  float: right;
  color: green;
  font-size: 1.2rem; 
}

.selected-options {
  margin-top: 15px; 
}

.filter-tag {
  margin-right: 10px;
  display: inline-block;
  font-size: 1.1rem; 
}

@media (max-width: 768px) {
  .selected-options-display, .filter-tag {
    font-size: 1rem; 
    padding: 12px; 
  }

  .select-all-label, .dropdown-options label {
    font-size: 1rem; 
  }

  .dropdown-options {
    max-height: 200px; 
  }
}