.search-container {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.filter-body-container {
    margin: 12px;
    width: 35%;
}

@media screen and (max-width: 992px) {
    .search-container {
        align-items: stretch;
        flex-direction: column;
    }

    .filter-body-container {
        margin: 0;
        width: 100%;
    }
}
